# Copyright 2024 Brazona Tech

##################################################################################################
# Detalhe do Serviço
##################################################################################################
# Incluí credenciais de acesso do Github ao ambiente Kubernets com a finalidade de usar-la no 
# download das imagens docker
---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: dockerconfigjson-github-com
  namespace: ${NAMESPACE}
data:
  .dockerconfigjson: ${SECRET_GITHUB}


